*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
__pycache__/
.pytest_cache
dist/
**/data/
**/logs/
**/results/
**/images/
**/wandb/
**/figures/
**/config/wandb.json
!docs/images
src/*.egg-info
**/.ipynb_checkpoints/
config/
!src/minimax/config
